<p style="color: green"><%= notice %></p>

<h1>Restaurants</h1>

<div id="restaurants">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col"> Phone</th>
        <th scope="col">Website</th>
      </tr>
    </thead>
    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr><%= render restaurant %></tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New restaurant", new_restaurant_path %>
